
.button {
    -fx-background-color: "#5f27cd";
    -fx-background-radius: 3;
    -fx-background-insets: 1.5;
    -fx-text-fill: black;
    -fx-alignment: baseline-center;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: "1d2021";
    -fx-text-fill: white;
}

.button:focused {
    -fx-background-color: "0abde3";
}

#mainSelection {
    -fx-background-color: "222f3e";
}

#viewPane {
    -fx-background-color: "576574"
}